@inherits UmbracoViewPage

@{ 
    string mainImageUrl = Model.Value<IPublishedContent>("mainImage")?.GetCropUrl(945, 400) ?? "";
}

<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="intro">
                    <h1 class="text-center">@(Model.HasValue("title") ? Model.Value<string>("title") : Model.Name)</h1>
                    @if(Model.HasValue("articleDate"))
                    {
                        <p class="text-center">
                            <span class="date">@(Model.Value<DateTime>("articleDate").ToString("dddd, MMMM dd, yyyy"))</span>
                        </p>
                    }
                    @if(!string.IsNullOrEmpty(mainImageUrl))
                    {
                        <img class="img-responsive" src="@(mainImageUrl)">
                    }
                </div>
                <div class="text">
                    @Html.GetGridHtml(Model, "contentGrid", "CSUSKGrid")
                </div>
            </div>
        </div>
    </div>
</div>